= render partial: "question", locals: { question: question }
%h3.my-2
  ="解説"
.question.border.shadow.p-2.mb-3
  =simple_format(question.explanation)
= render partial: "result", locals: { question: question, complete: false }