%h2.mb-3
  = "残念！不正解"
%h3.my-1
  ="第#{question.order}問"
.question.border.shadow.p-2
  =simple_format(question.sentence)
%h3.my-1
  ="解説"
.question.border.shadow.p-2.mb-3
  =simple_format(question.explanation)
= link_to "トップに戻る", root_path, class: "btn btn-primary"