- if @is_correct
  = render partial: "correct", locals: { quiz: @quiz, question: @question, next_question: @next_question}
- else
  = render partial: "incorrect", locals: { quiz: @quiz, question: @question }