.col-lg-4.col-md-6.col-sm-6.col-xs-12.my-2
  .card.bg-light.border-light.shadow
    .card-body
      %h5.card-title
        = quiz_section.title
      %p.card-text
        = quiz_section.description
      =link_to "挑戦する", "#", class: "btn btn-primary"