.question {
  background: $app-question;
}

.form-group {
  #post_answer_true {
    display: none;
  }
  #post_answer_true:checked + #answerbox--yes {
    border: 3px solid $yes-foreground
  }

  #post_answer_false {
    display: none;
  }

  #post_answer_false:checked + #answerbox--no{
    border: 3px solid $no-foreground;
  }

  div {
    #answerbox--yes {
      font-size: 3rem;
      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
      color: $yes-foreground;
      background: $no-foreground;
      text-align: center;
      display: block;
    }
    #answerbox--no {
      font-size: 3rem;
      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
      color: $no-foreground;
      background: $yes-foreground;
      text-align: center;
      display: block;
    }
  }
}